.tile-container {
  position: absolute;
  width: 256px;
  height: auto;
  clip-path: polygon(50% -1%, 105% 50%, 50% 102%, -4% 49%);
  cursor: pointer;
  transition: filter 0.3s, transform 0.3s;
  z-index: 1;
}

.tile-container.ground {
  clip-path: polygon(50% -1%, 105% 50%, 50% 102%, -4% 49%);
}

.tile-container.base {
  clip-path: polygon(
    1% 58%,
    0% 64%,
    48% 100%,
    53% 100%,
    100% 64%,
    99% 58%,
    74% 39%,
    75% 21%,
    63% 12%,
    61% 8%,
    48% 0%,
    45% 0%,
    42% 7%,
    45% 14%,
    41% 15%,
    32% 22%,
    30% 21%,
    26% 23%,
    24% 32%,
    23% 35%,
    25% 39%
  );
}

.tile-container.selected {
  transform: scale(1.05);
  z-index: 1;
}

.tile-container.adjacent {
  filter: brightness(1.5);
}

.tile {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.tile-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 4px;
  font-size: 12px;
  pointer-events: none;
}

.unit {
  position: absolute;
  width: 70px;
  height: auto;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  z-index: 2;
}

.units-amount {
  position: absolute;
  top: -1%;
  left: 44%;
  z-index: 4;
  padding: 8px;
  background: #000000;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 13px;
}

.effect {
  position: absolute;
  width: 100px;
  height: auto;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  z-index: 3;
}

.tile-control-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: inherit;
  pointer-events: none;
}
